<h1><%= @meetup.title %></h1>
<h3>Description</h3>
<p>Description: <%= @meetup.description%></p>
<h3>Location</h3>
<p>Location: <%= @meetup.location %></p>

<td><a href="/"><strong><i>Back to available meetups</i></strong></a></td>
